[submodule "djinni"]
    path = djinni
    url = https://github.com/LedgerHQ/djinni.git
[submodule "toolchains/polly"]
    path = toolchains/polly
    url = https://github.com/ruslo/polly.git
[submodule "tools/gyp"]
    path = tools/gyp
    url = https://github.com/bnoordhuis/gyp.git
[submodule "core/lib/spdlog"]
    path = core/lib/spdlog
    url = https://github.com/gabime/spdlog.git
[submodule "core/lib/leveldb"]
    path = core/lib/leveldb
    url = https://github.com/LedgerHQ/leveldb.git
    branch = bitcoin-fork
[submodule "core/lib/ethash"]
    path = core/lib/ethash
    url = https://github.com/LedgerHQ/ethash.git
[submodule "core/test/lib/googletest"]
    path = core/test/lib/googletest
    url = https://github.com/google/googletest.git
[submodule "core/lib/fmt"]
    path = core/lib/fmt
    url = https://github.com/fmtlib/fmt.git
