/build*/
/externals/build/
/cmake-build-debug/
/core/lib/secp256k1/include/
/core/lib/secp256k1/lib/
/core/lib/secp256k1/src/
/core/lib/secp256k1/tmp/
.idea/
build/
node_modules/
project/
/api/
/api/djinni/support-lib/*.Makefile
/api/djinni/support-lib/*.mk
.DS_Store
.vscode/
CMakeCache.txt
CMakeFiles
CMakeScripts
CTestTestfile.cmake
Makefile
cmake_install.cmake
compile_commands.json
install_manifest.txt
tags
*.a
Testing/
.ccls-cache/
.dir-locals.el
