[submodule "djinni"]
	path = djinni
	url = https://github.com/LedgerHQ/djinni.git
# temporary fix for ios-nocodesign meanwhile they accept my PR
[submodule "toolchains/polly"]
	path = toolchains/polly
	url = git@github.com:phaazon/polly.git
    branch = fix/ios-nocodesign
[submodule "tools/gyp"]
	path = tools/gyp
	url = https://github.com/bnoordhuis/gyp.git
[submodule "core/lib/spdlog"]
	path = core/lib/spdlog
	url = https://github.com/LedgerHQ/spdlog.git
[submodule "core/lib/leveldb"]
	path = core/lib/leveldb
	url = https://github.com/LedgerHQ/leveldb.git
