version: 2
general:
dependencies:
  cache_directories:
    - ~/cmake-3.10.3
jobs:
  build_linux_release:
    docker:
      - image: debian:stretch
    working_directory: ~/lib-ledger-core
    steps:
      - run:
          command: |
            apt-get update
            apt-get -y install git ssh
      - checkout
      - run:
          name: Setup
          command: |
            . .circleci/setup_debian.sh Release
      - run:
          name: Submodule_Initialization
          command: |
            . .circleci/init_submodules.sh
      - run:
          name: CMake_Install
          command: |
            . .circleci/cmake-install.sh
      - run:
          name: Build_Library
          command: |
            . .circleci/build_lib.sh Release
      - run:
          name: Build_Module
          command: |
            . .circleci/build_node_module.sh
      - deploy:
          requires:
            - hold
          name: Deploy
          command: |
            . .circleci/deploy.sh
  build_linux_debug:
      docker:
        - image: debian:stretch
      working_directory: ~/lib-ledger-core
      steps:
        - run:
            command: |
              apt-get update
              apt-get -y install git ssh
        - checkout
        - run:
            name: Setup
            command: |
              . .circleci/setup_debian.sh Debug
        - run:
            name: Submodule_Initialization
            command: |
              . .circleci/init_submodules.sh
        - run:
            name: CMake_Install
            command: |
              . .circleci/cmake-install.sh
        - run:
            name: Build_Library
            command: |
              . .circleci/build_lib.sh Debug
        - run:
            name: Build_Module
            command: |
              . .circleci/build_node_module.sh
        - run:
            name: Run_Tests
            command: |
                cd ../lib-ledger-core-build
                ctest
  build_macos_release:
    macos:
      xcode: "9.2.0"
    working_directory: ~/lib-ledger-core
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            . .circleci/setup_macos.sh Release
      - run:
          name: Submodule_Initialization
          command: |
            . .circleci/init_submodules.sh
      - run:
          name: Build_Library
          command: |
            . .circleci/build_lib.sh Release
      - run:
          name: Build_Module
          command: |
            . .circleci/build_node_module.sh
      - deploy:
          name: Deploy
          command: |
            . .circleci/deploy.sh
  build_macos_debug:
    macos:
      xcode: "9.2.0"
    working_directory: ~/lib-ledger-core
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            . .circleci/setup_macos.sh Debug
      - run:
          name: Submodule_Initialization
          command: |
            . .circleci/init_submodules.sh
      - run:
          name: Build_Library
          command: |
            . .circleci/build_lib.sh Debug
      - run:
          name: Build_Module
          command: |
            . .circleci/build_node_module.sh
      - run:
          name: Run_Tests
          command: |
              cd ../lib-ledger-core-build
              ctest
workflows:
  version: 2
  build:
    jobs:
      - build_linux_debug
      - build_macos_debug
      - build_linux_release
      - build_macos_release