name: "Nix Tests"
on:
  pull_request:
    branches:
      - release/4.0.0
      - release/4.1.0
      - release/4.2.0
      - develop
  push:
    branches:
      - release/4.0.0
      - release/4.1.0
      - release/4.2.0
      - develop
jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/checkout@v2.3.4
      with:
        submodules: 'recursive'
    - uses: cachix/install-nix-action@v13
      with:
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/2d9193f9f032c52594d90eb64b8c4ffa8c615354.tar.gz
    - name: Build and run tests
      run: nix-shell --run "bash nix/scripts/build_run_tests.sh" nix/test-shell.nix
      env:
        BUILD_LOAD_LIMIT: 3
